.myButton{
    color: tomato;
    background-color: black;
    margin: 20px;
    font-weight: bold;
    height: 50px;
    width: 80px;
    
    
    
    
}



.anim{

    border-radius: 5px;
    box-shadow: 2px 3px tomato;
}

.keyboard
{


}